/* ===== HERO SECTION ===== */
.hero {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 90vw;
  margin: 30px auto;
  justify-content: space-between;
  height: 100vh;
}

.heroContent {
  max-width: clamp(200px, 61vw, 2000px);
  display: flex;
  flex-direction: column;
}

.heroContent h1 {
  font-weight: 800;
  color: var(--cor-preta);
  font-size: clamp(2rem, 4vw, 120px);
  line-height: 1.2;
  margin-bottom: 20px;
}

.heroContent p {
  font-size: clamp(20px, 1.9vw, 80px);
  color: var(--cor-preta);
  font-weight: 400;
  line-height: 1;
}

.heroContent .slogan {
  font-size: 30px;
  font-size: clamp(20px, 1.6vw, 80px);

  font-weight: 500;
  color: var(--cor-preta);
  margin: 20px 0px;
}
.cta-button {
  background-color: var(--cor-destaque);
  color: var(--cor-branca);
  padding: 1rem 2rem;
  font-size: clamp(16px, 1vw, 50px);

  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  text-decoration: none;
  font-style: italic;
}

.cta-button:hover {
  background-color: var(--cor-primaria);
  color: aliceblue;
}

.heroComplement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: clamp(250px, 29vw, 910px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.central-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.heroContent h1 {
  animation: slideFromLeft 1s ease-out forwards;
  animation-delay: 0.2s;
  opacity: 0;
}
.heroContent p {
  animation: slideFromLeft 1s ease-out forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

.heroContent .slogan {
  animation: slideFromBottom 1s ease-out forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

.cta-button {
  animation: slideFromBottom 1s ease-out forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

.heroComplement {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.6s;
  opacity: 0;
}
@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-600px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(600px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 800px) {
  .hero {
    flex-direction: column;
    max-height: 80vh;
    width: 95vw;
    margin-top: 100px;
  }
  .heroContent {
    max-width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/heroimg.png);
    background-position: calc(100% - 0px) 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: cross-fade();
    opacity: 0;
    animation: fadeInBackground 2s ease-in-out forwards;
  }
  @keyframes fadeInBackground {
    to {
      opacity: 1;
    }
  }
  .heroContent h1 {
    font-size: 2.4rem;
    margin-top: -25px;
  }
  .heroContent p {
    font-size: 1.2rem;
    margin-top: -20px;
  }
  .heroContent .slogan {
    font-size: 30px;
    font-size: clamp(20px, 1.6vw, 80px);

    font-weight: 500;
    color: var(--cor-destaque);
    margin: 20px 0px;
    margin-top: 380px;
  }

  .cell {
    display: none;
  }
  .heroComplement {
    display: none;
  }
}
